#logo {
    color: slategray;
    font-size: 18px;
}

body {
    background-color: lightgray;
    color: black;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


footer {
    margin-top: auto;
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}
